.Section5TopDiv {
  background-color: #000;
  padding-top: 146px;
  padding-bottom: 146px;
}
.BlackBackgroundParentDivWhite {
  background-color: white;
}
.BlueBackgroundRightDivTopTextBlack {
  color: var(--black, #000);

  /* h3 */
  font-family: Raleway;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 72px; /* 112.5% */
}
.BlueBackgroundRightDivTopTextBlackSubparagraph {
  color: var(--black-80, rgba(0, 0, 0, 0.8));

  /* h4 */
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.PlantImg {
  width: 68px;
  margin-bottom: 25px;
}
.BlackBackgroundLeftDivImgOne {
  bottom: 42px;
}
.BlackBackgroundLeftDivImgTwo {
  position: absolute;
  /* top: 11px; */

  right: 29px;
  /* width: 67%;
  height: 100%; */
  object-fit: contain;
  object-position: bottom;
  top: 42px;
}
.BlackBackgroundLeftDivImgThree {
  position: absolute;
  /* top: 11px; */

  /* width: 67%;
  height: 100%; */
  object-fit: contain;
  object-position: bottom;
  bottom: 42px;
  right: 352px;
}

.BlackBackgroundParentDivPurple {
  background-color: #cfceff;
  position: relative;
}
.BlueBackgroundRightDivPurple {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 72px 200px;
}
.BlueBackgroundRightDivTopTextPurple {
  color: var(--black, #000);
  text-align: center;
}
.BlueBackgroundRightDivTopTextPurpleSpan {
  color: var(--black, #6450e3);
}
.BlueBackgroundRightDivTopTextPurpleParagraph {
  color: var(--black-80, rgba(0, 0, 0, 0.8));
  text-align: center;

  /* h4 */
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.Section5TopDiv .ui.input {
  width: 558px;
}
.Section5TopDiv .ui.input > input {
  display: flex;

  padding: 20px 32px;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  background: var(--white, #fff);
}

.BlueBackgroundRightDivPurple .ui.button {
  display: flex;
  width: 200px;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 0px 40px 40px 0px !important;
  background: var(--accent-yellow, #ffeb92) !important;
  color: black;
  color: var(--black, #000);
  text-align: center;

  /* button */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.BlueBackgroundRightDivPurple .ui.button:hover {
  background: var(--accent-yellow, #ffeb92) !important;
}
.BlueBackgroundRightDivPurple .ui.button:active {
  background: var(--accent-yellow, #ffeb92) !important;
}

.Section5TopDivRobotParentDiv {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  height: auto;

  position: absolute;
  left: 6px;
  bottom: 82px;
}
.Section5TopDivRobot {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.Section5TopDivMobileParentDiv {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  height: auto;
  position: absolute;
  right: -56px;
  bottom: -98px;
}
.Section5TopDivMobile {
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media screen and (min-width: 992px) {
  .TabDollar {
    display: none !important;
  }
  .TabRobot {
    display: none !important;
  }
  .TabMan {
    display: none !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .FourImagesDiv {
    display: flex;
    position: relative;
  }
  .PlantImg {
    width: 68px;
    height: 68px;
  }
  .TabMan {
    top: 10;
  }
  .TabRobot {
    width: 80px;
    height: 126px;
    /* margin-right: 33px; */
    margin-left: -21px;
  }
  .TabDollar {
    width: 143px;
    height: 116px;
    display: flex;
    align-self: end;
    margin-bottom: 24px;
  }
  .BlueBackgroundRightDivPurple {
    padding: 72px 200px 150px 200px;
  }
  .Section5TopDivRobotParentDiv {
    width: 23%;
    display: flex;
    justify-content: flex-end;
    height: auto;
    position: absolute;
    left: 6px;
    bottom: 32px;
  }
}

@media screen and (max-width: 768px) {
  .FourImagesDiv {
    display: flex;
  }
  .PlantImg {
    width: 50px;
    height: 50px;
    margin-bottom: 25px;
  }
  .TabDollar {
    width: 70px;
    height: 55px;
    display: flex;
    align-self: end;
    margin-bottom: 24px;
    z-index: 2;
  }
  .TabMan {
    width: 100px;
    height: 200px;
    margin-left: -10px;
  }
  .TabRobot {
    width: 58px;
    height: 74px;
    /* margin-right: 33px; */
    margin-left: -21px;
  }
  .BlueBackgroundRightDivTopTextBlack {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px;
  }
  .BlueBackgroundRightDivTopTextBlackSubparagraph {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
  .BlueBackgroundRightDivPurple {
    width: 100%;
    overflow: hidden;
    padding: 48px 20px;
  }
  .BlueBackgroundRightDivTopTextPurple {
    text-align: justify;
  }

  .BlueBackgroundRightDivTopTextPurpleParagraph {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: start;
  }
  .Section5TopDivRobotParentDiv {
    display: none;
  }
  .Section5TopDivMobileParentDiv {
    display: none;
  }
  .Section5TopDiv .ui.input {
    width: 51%;
    display: flex;
    align-self: baseline;
  }
  .BlueBackgroundRightDivPurple .ui.button {
    width: 132px !important;
  }
  .LastImagePhoneChwl {
    width: 60%;
    margin-bottom: -57px;
  }
}
