.Section4TopDiv {
  background-color: #c9fff7;
  padding-bottom: 72px;
  transition: background-color 0.7s ease-in-out;
}
.Section4TopDivHeading {
  color: var(--green-dark, #1d6767);
}
.Section4ResponsiveDiv {
  background-color: #c9fff7;
}
.SkyBlueBackgroundParentDiv {
  /* background-color: #c9fff7; */
  background: transparent !important;
  height: auto;
  display: flex;
}
.SkyBlueBackground {
  height: 100%;
  /* background-color: #c9fff7; */
  background: transparent !important;
  display: flex;
  flex: 1;
  gap: 20px;
  flex-wrap: wrap;
}

.PeachBackgroundLeftDivInnerDivGreenColor {
  border-radius: 56px;
  background: var(--green-dark, #1d6767);
  height: 100%;
}
.PeachBackgroundLeftDivInnerDivHeadingWhite {
  color: var(--white, #fff);
}
.PeachBackgroundLeftDivInnerDivParagraphWhite {
  color: var(--white-80, rgba(255, 255, 255, 0.8));
}
.PeachBackgroundLeftDivInnerDivBlackColor {
  border-radius: 56px;
  background: black;
  height: 100%;
}
.SkyBlueBackgroundParentDiv2 {
  margin-top: 20px;
  background: transparent !important;
}
.PeachBackgroundLeftDivInnerDivWhiteColor {
  border-radius: 56px;
  background: white;
  height: 100%;
}

.PeachBackgroundLeftDivInnerDivImgLaptop {
  width: 418px;
}
.PeachBackgroundLeftDivInnerDivImgTrading {
  width: 323px;
}
.PeachBackgroundLeftDivInnerDivHeadingBlack {
  color: black;
}
@media screen and (max-width: 768px) {
  .PeachBackgroundLeftDivInnerDivWhiteColor {
    width: 100%;
  }
  .PeachBackgroundLeftDivInnerDivImgLaptop {
    width: 100%;
  }
  .PeachBackgroundLeftDivInnerDivGreenColor {
    width: 100%;
  }
  .PeachBackgroundLeftDivInnerDivImgTrading {
    width: 100%;
  }
}
