.Section3TopDiv {
  background-color: #ffd5c4;
}
.Section3ResponsiveDiv {
  background-color: #ffd5c4;
}
.Section3TopDivHeading {
  color: var(--peach-dark, #e18967);
}
.Section3TopDivHeadingSpan {
  color: var(--black, #000);
}
.PeachBackgroundParentDiv {
  background-color: #ffd5c4;
  height: auto;
  display: flex;
}
.PeachBackground {
  background-color: #ffd5c4;
  display: flex;
  flex: 1;
  gap: 20px;
  flex-wrap: wrap;
}
.PeachBackgroundLeftDiv {
  flex: 1;
  border-radius: 56px;
  background: var(--white, #fff);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.PeachBackgroundLeftDivInnerDiv {
  padding: 56px 56px 72px 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.PeachBackgroundLeftDivInnerDivImg {
  width: 202px;
}
.PeachBackgroundLeftDivInnerDivHeading {
  color: var(--black, #000);

  /* h3 */
  font-family: Raleway;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 72px; /* 112.5% */
  text-align: start;
  width: 100%;
}
.PeachBackgroundLeftDivInnerDivParagraph {
  color: var(--black-80, rgba(0, 0, 0, 0.8));

  /* body text */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.PeachBackgroundRightDiv {
  flex: 1;
  border-radius: 56px;
  background: var(--white, #fff);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.PeachBackgroundRightDivInnerDivImg {
  width: 474px;
}

.Section3TopDivBlackRightDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.PeachBackgroundLeftDivInnerDivParagraphWhite {
  color: var(--white-80, rgba(255, 255, 255, 0.8));
}
.BlackBackgroundLeftDivImgExtra {
  object-fit: contain;
  width: 100%;
  object-position: center;
  right: 40px;
}
@media screen and (min-width: 992px) {
  .BlackBackgroundLeftDivTabShow {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .PeachBackgroundLeftDivInnerDivHeading {
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
  }
  .BlackBackgroundLeftDivTabShow {
    display: flex;
  }
  .BlackBackgroundLeftDivImgExtra {
    position: relative;
    margin-bottom: 21px;
    right: 6px;
  }
}

@media screen and (max-width: 768px) {
  .PeachBackgroundLeftDivInnerDivImg {
    width: 167px;
  }
  .PeachBackgroundLeftDivInnerDivHeading {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px;
  }
  .PeachBackgroundLeftDivInnerDivParagraph {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .PeachBackgroundLeftDiv {
    width: 100%;
  }
  .PeachBackgroundRightDivInnerDivImg {
    width: 100%;
  }

  .BlackBackground {
    display: flex;
    flex: 1 1;
    flex-direction: column !important;
    width: 100%;
  }
  .BlackBackgroundLeftDiv {
    display: none;
  }
  .BlackBackgroundLeftDivTabShow {
    display: flex;
  }
  .BlackBackgroundLeftDivImgExtra {
    object-fit: contain;
    width: 100%;
    object-position: center;
    right: 12px;
    position: relative;
  }
  .Section3TopDivBlackRightDivFirstDiv {
    display: none;
  }
}
