.Section2TopDiv {
  background-color: #bfe8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 438px;
}

.Section2ResponsiveDiv {
  margin-top: -281px;
  position: absolute;
  background-color: #bfe8ff;
  border-top-right-radius: 56px;
  border-top-left-radius: 56px;
}
.Section2ResponsiveHeadingDiv {
  display: flex;
  justify-content: flex-start;
  padding: 96px 86px;
  width: 100%;
}
.Section2TopDivHeading {
  color: var(--blue-dark, #004973);

  /* h2 */
  font-family: Raleway;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: 88px; /* 110% */
  text-align: justify;
}
.Section2TopDivHeadingSpan {
  color: var(--black, #000);
}
.BlueBackgroundParentDiv {
  margin-top: 152px;
  width: 100%;
  border-radius: 56px;
  background-color: #004973;
  height: 627px;
}

.BlueBackground {
  display: flex;
  flex: 1;
  flex-direction: row !important;

  width: 100%;
}
.BlueBackgroundLeftDiv {
  flex: 1;
  position: relative;
}
.BlueBackgroundLeftDivImg {
  position: absolute;
  /* top: 11px; */
  bottom: 0px;
  left: 86px;
  width: 67%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
}
.BlueBackgroundRightDiv {
  flex: 1.1;
  display: flex;
  flex-direction: column;
  padding: 72px 86px;
}

.BlueBackgroundRightDivTopText {
  color: var(--white, #fff);

  /* h3 */
  font-family: Raleway;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 72px; /* 112.5% */
  margin-bottom: 32px;
}
.BlueBackgroundRightDivListText {
  color: var(--white, #fff);

  /* body-semibold */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.BlueBackgroundRightDivListTextSpan {
  font-weight: 600;
}
.BlueBackgroundRightDiv .ui.list .list > .item > i.icon,
.ui.list > .item > i.icon {
  color: white;
}
.BlueBackgroundRightDivBottomText {
  color: var(--white-80, rgba(255, 255, 255, 0.8));

  /* body text */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 32px;
}
.BlueBackgroundRightDivBottomTextaTag {
  text-decoration: underline;
  cursor: pointer;
}
.BlueBackgroundRightDivBottomTextaTag:hover {
  color: white;
}

.BlackBackgroundParentDiv {
  margin-top: 20px;
  width: 100%;
  border-radius: 56px;
  background-color: #000;
  height: 627px;
}

.BlackBackground {
  display: flex;
  flex: 1;
  flex-direction: row !important;

  width: 100%;
}
.BlackBackgroundLeftDiv {
  flex: 1;
  position: relative;
}
.BlackBackgroundLeftDivImg {
  position: absolute;
  /* top: 11px; */
  bottom: 0px;
  right: 86px;
  width: 67%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
}

.WhiteBackgroundParentDiv {
  margin-top: 20px;
  width: 100%;
  border-radius: 56px;
  background-color: white;
  height: 627px;
}

.WhiteBackground {
  display: flex;
  flex: 1;
  flex-direction: row !important;

  width: 100%;
}
.WhiteBackgroundRightDivTopText {
  color: black;

  /* h3 */
  font-family: Raleway;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 72px; /* 112.5% */
  margin-bottom: 32px;
}
.WhiteBackgroundRightDivListText {
  color: var(--black-80, rgba(0, 0, 0, 0.8));

  /* body-semibold */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.WhiteBackgroundRightDivListTextSpan {
  color: black;
  font-weight: 600;
}
.WhiteBackgroundExtraText {
  margin-top: -16px;
  color: var(--black-80, rgba(0, 0, 0, 0.8));

  /* h4 */
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
